src/main/mule/mvn-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7329208e-1dee-44ce-aa4e-76d113b74908" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mvn-muleFlow" doc:id="5011048a-cf37-493b-8737-7e0ba7eebe42" >
		<http:listener doc:name="Listener" doc:id="ea23b3ad-03ba-4e01-9652-5b6fd5e6da8c" config-ref="HTTP_Listener_config" path="/mvnplugin"/>
		<set-payload value='#["message":"cicd using mvn pulgin"]' doc:name="Set Payload" doc:id="cb24058d-3e2e-48ce-b9d6-8276960b98a7" />
		<ee:transform doc:name="Transform Message" doc:id="e81d18c1-3ca3-4630-8daf-521ac76479b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
